<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">

    <label for="nickName">Enter name: </label>
    <input type="text" th:field="*{username}" id="nickName"/>

    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

    <br/>


    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <br/>

    <div><input type="radio" th:name="role" checked="checked" th:value="user"/>User</div>
    <div><input type="radio" th:name="role" th:value="admin"/>Admin</div>

        <br/>

    <input type="submit" value="Create"/>

</form>
</body>
