<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>

<style>
    h1{text-align: center; height: 50%}
    form{text-align: center}
</style>

<body>
<h1>Welcome to my site!</h1>

<form th:action="@{/process_login}">
    <button type="submit">Login</button>
</form>

<br/>
<form th:action="@{/auth/registration}" th:method="get">
    <button type="submit">Registration</button>
</form>

</body>
</html>