<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:method="POST" th:action="@{/update}" th:object="${user}">


    <input type="hidden" th:field="*{id}" id="id"/>

    <label for="nickName">Enter name: </label>
    <input type="text" th:field="*{nickName}" id="nickName"/>

    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>

    <br/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <br/>

    <input type="submit" value="Update"/>

</form>
</body>